body {
  font-family: "Segoe UI", sans-serif;
  background: rgb(229, 225, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px 40px;
  border-radius: 20px 20px 150px 0;
  box-shadow: 0 10px 30px rgba(95, 84, 84, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.date-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px;
  border: none;
  background-color: #7a5af8;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
  align-self: center;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #674bd1;
}

#result {
  margin-top: 20px;
  font-size: 2rem;
  color: black;
  font-family: "arialblack", sans-serif;
}

#result span {
  font-weight: bold;
  color: #7a5af8;
  font-style: italic;
}
